---
import { Card } from '@astrojs/starlight/components';
import Stat from '../components/Stat.astro';
import ArmorBlock from '../components/ArmorBlock.astro';
import type { BattleStats } from '../schemas/CustomStats.schema';

interface Props{stats:BattleStats}  

const { stats } = Astro.props;

---

<Card title="Key stats">
  <div class="container not-content">
    <Stat title="HP" value={stats.hit_points}/>
     {stats.armor_class.length > 0 && (<ArmorBlock stats={stats.armor_class} /> )}
  </div>  
</Card>

<style>
  .container {
    display: flex;
  }
</style>